# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/data
dbdiff

# Test binary, build with `go test -c`
*.test
*/instantclient_18_3/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
 *.lock
